PORT=5000

MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/interview-db

JWT_SECRET=0awesomethisteamworkinggreatis_1youknow12345678ispasswordofmosthotspotsidiots_arrays_areheadaches_1tryhashmapsandhashsetandpairsinstead.0

GOOGLE_CLIENT_ID=xxxxxxxxxxxxxxxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=xxxxxxxxxxxxxxxx

FRONTEND_URL=http://localhost:5173

LIVEKIT_URL=wss://your-project.livekit.cloud

LIVEKIT_API_KEY=xxxxxxxx
LIVEKIT_API_SECRET=xxxxxxxx

GEMINI_API_KEY=xxxxxxxx